.login-pop {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(../Assets/bg.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.236);
  background-blend-mode:darken;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  backdrop-filter: blur(5px);
  z-index: 2;
}

.crossBtn {
  width: 100%;
  display: flex;
  justify-content:space-between;
}

.cross {
  font-size: 25px;
  color: #fe5a59;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.ring {
  width: auto;
  height: auto;
  padding: 35px 35px;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.415);
  backdrop-filter: blur(3px);
  box-shadow: #fe5a59 0px 3px 8px;
}

.ring2 {
  width: auto;
  height: auto;
  padding: 35px 35px;
  display: none;
  justify-content: center;
  border-radius: 50px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.415);
  backdrop-filter: blur(3px);
  box-shadow: #fe5a59 0px 3px 8px;
}

.login {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.login h2 {
  font-size: 2em;
  color: #fff;
}
.login .inputBx {
  width: 100%;
}
.login .inputBx input {
  width: 100%;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid #fff;
  font-size: 1.2em;
  color: #fff;
  box-shadow: none;
  outline: none;
}

.error {
  display: none;
  color: #fe5a59;
  text-align: left;
  font-size: 14px;
  padding: 5px 5px 5px 5px;
}

.login .inputBx input[type="submit"] {
  width: 100%;
  background: #0078ff;
  background: linear-gradient(45deg, #fe5a59, #2686f7);
  border: none;
  cursor: pointer;
}
.login .inputBx input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.login .btnLinks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 15px;
  backdrop-filter: blur(3px);
}

.login .btnLinks > button {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  border: none;
}
